<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Onset_Serialization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
	  <!--<add name="OnsetControlEntities" connectionString="metadata=res://*/Data.OnsetModel.csdl|res://*/Data.OnsetModel.ssdl|res://*/Data.OnsetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=OnsetControl;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="OnsetControlEntities" connectionString="metadata=res://*/Data.OnsetModel.csdl|res://*/Data.OnsetModel.ssdl|res://*/Data.OnsetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VTNAPP1;initial catalog=OnsetControl;user id=sa;password=ZAQ!xsw2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Onset_Serialization.Properties.Settings>
      <setting name="Case_Printer" serializeAs="String">
        <value />
      </setting>
      <setting name="Box_Printer" serializeAs="String">
        <value />
      </setting>
      <setting name="Carton_Printer" serializeAs="String">
        <value />
      </setting>
      <setting name="Box_Quantity" serializeAs="String">
        <value>84</value>
      </setting>
    </Onset_Serialization.Properties.Settings>
  </userSettings>
</configuration>